/*-- selector {
    propiedad: valor; 
}
*/


body {
    background-color: #f5eeea;
    border-radius: 10px;
    width: 97%;
    height: 95%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    justify-content: center;
    /* color: unset; ES EL COLOR DEL TEXTO EN BODY */
  }
  
  h1, h2, h3 {
    background-color: #FFE5D4;
    /* color: unset; ES EL COLOR DEL TEXTO EN H1 H2 H3 */
    border-radius: 10px;
    padding: 10px;
  }
  
  a {
    color: #9a4a0d;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    text-align:right;
    justify-content:center;
    align-items:center;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #955E42;
    text-align: center;
    height: 50px;
  }
  
  footer a {
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    text-align:center;
    justify-content: center;
    align-items:center;
  }


    header {
      display: flex;
      min-height: 100px;
      position: sticky; 
      justify-content: space-between;
      background-color:#FFE5D4;
      align-items: center;
      padding: 10px;
  } 
  .logomenu {
    display: flex;
    height: 100px;
  }
  nav a {
    padding-right: 20px;
    text-transform:uppercase;
    font-size: larger;
    font-weight: 600;
  }
  nav a:hover {
    color:#532807;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 700px) {
    header {
      flex-direction: column;
    }
    nav {
      padding: 70px;
    }
    nav a {
      font-size: small;
    }
    .logomenu {
      position: absolute;
      height: 90px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 80px;
    }
  
    label, input {
      margin: 10px 0;
      width: 100%;
      max-width: 300px;
    }
  
    button[type="submit"] {
      margin-top: 10px;
      width: 100%;
      max-width: 300px;
    }
  }

    iframe {
        max-width: 100%;
        height: auto;
    }

    .botonwp {
        position: fixed;
        right: 0px;
        bottom: 110px;
        width: 50px;
        height: 50px;
        z-index: 100;
    }
    .columnas {
      padding-bottom: 500px;
    }

    #columna1 {
        position: absolute;
        left: 2%;
        width: 45%;
    }
    #columna2 {
        position: absolute;
        margin-left: 50%;
        width: 45%;
        bottom: absolute;
    }

    .grid-productos {
      display: grid;
      padding-top: 25px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .productos-generales {
      border: 1px solid black;
      padding-top: 5px;
      padding-bottom: 2px;
    }

